
{% extends "blog/base.html"%}

{% block content %}
    <div class="about-section content-section">
        <h1 class="border-bottom mb-4">Welcome to Tolson's World of Innovation and Passion!</h1>
        <p>Hi, I'm <strong>Tolson Lyman</strong>!</p>
        <p class="mb-5">I'm a technology enthusiast and a passionate creator,
             blending the art of coding with the joy of various hobbies.
             My journey in tech began by dicovering videos games. This "canon event" sent me down
             a path on learning how computers work and eventually influencing my decsion on what 
             I wanted to studying in school. Ever since, I've been on a quest to explore,
             innovate, and share my tech adventures. <strong>(feel free to create an account and post anything respectable that you would like to)</strong></p>

        <h2>My Tech Projects</h2>
        <p class="mb-4"> Here's where I showcase my technical prowess. This blog was made so that I
             can show off not only my tech projects but my creative and active hobbies as well.
             Whether it's developing apps, writing about my running knowledge, tinkering with IoT devices, telling my best stories, or exploring
             the realms of AI and machine learning, each project is a story of challenges
             and triumphs. See my different blog posts to explore my projects <a class="" href="{% url 'user-posts' 'Tolson_M_Lyman' %}">here</a>.</p>

        <h2>Hobbies and More</h2>
        <p class="mb-4">Life isn't all about ones and zeros for me. 
            When I'm not coding, I'm also interested in playing the piano, snowboarding,
            Golf, Basketball, Running, Mountain Biking, and Building Relationships With People.
            These activities not only refresh my mind but often inspire my technical work in unexpected ways.</p>

        <h2>What Drives Me?</h2>
        <p class="mb-4">My passion for technology is fueled by solving problems, creativity, continuous learning, 
            and trying to be the best version of myself I can be. I believe in using my skills to make a positive 
            impact, be it through my projects or by inspiring others.</p>

        <h2>Let's Connect</h2>
        <p class="mb-4">Whether you're a fellow tech enthusiast, a hobbyist, or just curious, feel free to reach 
            out! I love connecting with like-minded individuals and sharing ideas.</p>
        <a href="https://mail.google.com/mail/u/1/?view=cm&fs=1&to=Tolsonmlyman@gmail.com&tf=1" target="_blank"><strong>Tolsonmlyman@gmail.com</strong></a>
        <div class="mb-4"></div>
        
    </div>
{% endblock content %}
